[main]
logdir_path = log

[panda]
panda_exe = build-panda/i386-softmmu/qemu-system-i386
image_path = images/cn_windows_xp_sp3_x86_heartbleed.qcow2
guest_os = windows-32-xpsp3
rr_name = winxpsp3x86_heartbleed
wait_time = 360
record_time = 15
monitor_port = 7377
vnc_port = 8
attack_wrap_script = attack_wrap.py

[attack]
attack_script = ssltest.py
agent_ip = 202.114.23.16 
attack_port = 9999
attack_period = 0.1

[association]
association_script = association.py
panda_log = log/panda.json
association_log = log/association.json

[mdump]
mdump_script = /home/cll/pyrebox_mdump/mdump_start.py
eip_log = /home/cll/pyrebox_mdump/pyrebox_1/EIP.csv
mdump_log = /home/cll/pyrebox_mdump/pyrebox_1/log/memdump.json
mdump_pm = /home/cll/pyrebox_mdump/pyrebox_1/

[decaf]
decaf_script = /home/zk/auto_test/heartbleed_test.py 
decaf_log = heartbleed.demo 


